#codescape-container {
  --dim-gray: #676767;
  --bismark: #4a6572;
  --grey: #838383;
  --light-grey: #d3d2d2;
  --whisper: #eeeeee;
  --summer-sky: #1a9ddd;
  --white-smoke: #f6f9f6;
  --sham-rock: #1cd991;
  font-family: 'Roboto';
  color: var(--grey);  
}

#codescape-container > div > div > div > div.category-title {
  text-align: center;
}

.role-container > div {
  justify-content: center !important;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  align-items: baseline;
  padding: 1em;
}

.category-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.category-title {
  text-align: center;
}

.category-score {
  margin-bottom: 1em;
}

.role-score {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 2em;
}

.total {
  background: var(--sham-rock);
  display: grid;
  border-radius: 45px;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 1em;
  align-items: baseline;
  text-align: center;
  border: 1px solid var(--bismark);
}

#codescape-container > div > div.role-score > div:first-child {
  display: inline-flex;
  align-items: center;
}

#codescape-container > div > div.role-score > div:first-child > h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.5em;
}

#codescape-container > div > div.role-score > div > div {
  color: #fff;
  font-size: 30px;
  align-self: center;
}

#codescape-container > div > div.role-score > div > div:last-child {
  background-color: var(--whisper);
  color: var(--bismark);
  line-height: 3em;
  border-radius: 45px;
  font-size: 1em;
}

@media (max-width: 1024px) {
  #codescape-container > div > div.role-score > div > div:last-child {
    display: none;
  }
}
.ring {
  width: 100px;
  height: 100px;
  .CircularProgressbar {
    &-path {
      stroke: var(--bismark);
    }
  }
}
